* {
  box-sizing: border-box;
}

body {
    margin: 0 auto;
}

div#landing {
    position: relative;
    width: auto;
    height: 94vh;
    border: 3px solid white;
    padding: 20px;
    margin: 0px;
    color: black;

}
 
    

#landing img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: auto;    
    width: 550px;
    border-radius: 1vw;
    z-index: 1;
    border: 0px solid grey;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.4);   
}

#landing img:hover {
    opacity: 0.1;
    transition: 1s;
    
}

#annotations {
    position: absolute;
    max-width: 450px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: monospace;
    text-align: center;
}

h1 {
    position: sticky;
    font-family: 'Anton', sans-serif;
    top: 0px;
    font-size: 22vw;
    text-align: center;
    line-height: 0.0;
   
}


body {
    font-family: sans-serif;
}


img {
    width: 150px;
}



.annotations {
    font-family: monospace;
}

.dropdown {
    font-family: monospace;
    color: darkviolet;
    text-decoration-line: underline;
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}